/* screen - notification-and-alerts */

.notification-and-alerts {
  align-items: flex-start;
  background-color: var(--shady-lady);
  display: flex;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.notification-and-alerts .overlap-group5 {
  height: 1038px;
  position: relative;
  width: 1440px;
}

.notification-and-alerts .template {
  align-items: flex-start;
  background-color: var(--shady-lady);
  display: flex;
  height: 1038px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.notification-and-alerts .overlap-group4 {
  height: 1044px;
  margin-left: -36px;
  margin-top: -20.0px;
  position: relative;
  width: 1516px;
}

.notification-and-alerts .rectangle-188 {
  height: 1024px;
  left: 36px;
  position: absolute;
  top: 20px;
  width: 1440px;
}

.notification-and-alerts .overlap-group-1 {
  height: 131px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1516px;
}

.notification-and-alerts .dashbored {
  background-color: var(--lavender-gray);
  border: 0px none;
  height: 131px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1516px;
}

.notification-and-alerts .logo {
  height: 67px;
  left: 138px;
  position: absolute;
  top: 43px;
  width: 65px;
}

.notification-and-alerts .overlap-group1 {
  border-radius: 20px;
  height: 75px;
  left: 225px;
  position: absolute;
  top: 40px;
  width: 1180px;
}

.notification-and-alerts .bottom-app-bar {
  align-items: center;
  background-color: var(--concrete);
  border-radius: 20px;
  display: flex;
  gap: 276px;
  height: 75px;
  left: 0;
  padding: 0px 16px 0px 4px;
  position: absolute;
  top: 0;
  width: 1180px;
}

.notification-and-alerts .leading-icon {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.notification-and-alerts .container {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.notification-and-alerts .state-layer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.notification-and-alerts .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.notification-and-alerts .avater-icon {
  background-image: url(../img/generic-avatar.svg);
  background-size: 100% 100%;
  height: 38px;
  left: 1107px;
  position: absolute;
  top: 18px;
  width: 46px;
}

.notification-and-alerts .arrow_back-1 {
  left: 59px;
  position: absolute;
  top: 40px;
}

.notification-and-alerts .component-11 {
  align-items: flex-start;
  display: flex;
  height: 1024px;
  left: 36px;
  min-width: 86px;
  position: absolute;
  top: 20px;
}

.notification-and-alerts .overlap-group {
  height: 1024px;
  position: relative;
  width: 86px;
}

.notification-and-alerts .navigation-rail {
  align-items: center;
  background-color: var(--white-pointer);
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 1024px;
  left: 0;
  padding: 44px 0px 56px;
  position: absolute;
  top: 0;
  width: 86px;
}

.notification-and-alerts .arrow_back {
  height: 33px;
  position: relative;
  width: 36px;
}

.notification-and-alerts .menu-fab {
  flex: 0 0 auto;
  gap: 4px;
  width: 80px;
}

.notification-and-alerts .menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.notification-and-alerts .fab-elevation-override {
  align-items: flex-start;
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  overflow: hidden;
  position: relative;
}

.notification-and-alerts .state-layer-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px;
  position: relative;
}

.notification-and-alerts .destinations {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 397px;
  justify-content: center;
  left: 0;
  padding: 5px 0px;
  position: absolute;
  top: 317px;
  width: 86px;
}

.notification-and-alerts .container-1 {
  align-items: center;
  background-color: var(--deluge);
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.notification-and-alerts .state-layer-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 4px 16px;
  position: relative;
}

.notification-and-alerts .label {
  align-self: stretch;
  color: var(--eerie-black);
  font-weight: 600;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.notification-and-alerts .container-2 {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.notification-and-alerts .label-1 {
  align-self: stretch;
  color: var(--gravel);
  font-weight: 500;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.notification-and-alerts .pie-chart {
  cursor: pointer;
  height: 40px;
  left: 22px;
  position: absolute;
  top: 382px;
  width: 41px;
}

.notification-and-alerts .log-out {
  height: 39px;
  left: 23px;
  position: absolute;
  top: 663px;
  width: 38px;
}

.notification-and-alerts .inbox {
  cursor: pointer;
  height: 36px;
  left: 25px;
  position: absolute;
  top: 520px;
  width: 35px;
}

.notification-and-alerts .schedule {
  cursor: pointer;
  height: 38px;
  left: 25px;
  position: absolute;
  top: 451px;
  width: 37px;
}

.notification-and-alerts .home {
  cursor: pointer;
  height: 31px;
  left: 24px;
  position: absolute;
  top: 314px;
  width: 38px;
}

.notification-and-alerts .icon-1 {
  cursor: pointer;
  height: 38px;
  left: 26px;
  position: absolute;
  top: 587px;
  width: 34px;
}

.notification-and-alerts .log-out-1 {
  cursor: pointer;
  height: 39px;
  left: 23px;
  position: absolute;
  top: 663px;
  width: 38px;
}

.notification-and-alerts .payment-component-3 {
  align-items: flex-start;
  display: flex;
  height: 1024px;
  left: 39px;
  min-width: 86px;
  position: absolute;
  top: 20px;
}

.notification-and-alerts .arrow_back-2 {
  cursor: pointer;
  position: relative;
}

.notification-and-alerts .overlap-group-2 {
  height: 109px;
  position: relative;
}

.notification-and-alerts .menu-fab-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 80px;
}

.notification-and-alerts .menu-2 {
  gap: 10px;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.notification-and-alerts .fab-elevation-override-1 {
  background-color: var(--rose-dust);
  border-radius: 16px;
  flex: 0 0 auto;
  position: relative;
}

.notification-and-alerts .icon-3 {
  cursor: pointer;
  height: 24px;
  left: 28px;
  position: absolute;
  top: 69px;
  width: 24px;
}

.notification-and-alerts .switch {
  align-items: center;
  background-color: var(--butterfly-bush);
  border-radius: 100px;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  left: 502px;
  padding: 2px 4px;
  position: absolute;
  top: 271px;
  width: 52px;
}

.notification-and-alerts .handle {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.notification-and-alerts .target {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 8px;
  padding: 4px;
  position: relative;
  top: -10px;
}

.notification-and-alerts .state-layer-3 {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.notification-and-alerts .handle-shape {
  align-items: center;
  background-color: var(--white);
  border-radius: 24px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  padding: 11px;
  position: relative;
}

.notification-and-alerts .container-3 {
  border-radius: 23px;
  height: 2px;
  position: relative;
  width: 2px;
}

.notification-and-alerts .icon-2 {
  height: 16px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 16px;
}

.notification-and-alerts .allow-all-notifications {
  left: 266px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 274px;
  width: 376px;
}

.notification-and-alerts .title {
  left: 210px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 207px;
}

.notification-and-alerts .notification-preferences {
  left: 916px;
  top: 217px;
  transform: rotate(-0.10deg);
  white-space: nowrap;
  width: 274px;
}

.notification-and-alerts .notification-frequency {
  left: 908px;
  top: 568px;
  white-space: nowrap;
  width: 274px;
}

.notification-and-alerts .notification-channels {
  left: 926px;
  top: 285px;
  width: 256px;
}

.notification-and-alerts .list-4-density {
  align-items: flex-start;
  background-color: var(--white-pointer-2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 117px;
  left: 908px;
  position: absolute;
  top: 355px;
  width: 360px;
}

.notification-and-alerts .list-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  min-height: 40px;
  position: relative;
  width: 100%;
}

.notification-and-alerts .state-layer-overlay {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.notification-and-alerts .state-layer-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  height: 40px;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.notification-and-alerts .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.notification-and-alerts .headline {
  align-self: stretch;
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.notification-and-alerts .trailing-element {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  margin-bottom: -4.00px;
  margin-top: -4.00px;
  position: relative;
}

.notification-and-alerts .checkboxes {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  position: relative;
}

.notification-and-alerts .state-layer-5 {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 11px;
  position: relative;
}

.notification-and-alerts .container-4 {
  background-color: var(--butterfly-bush);
  border-radius: 2px;
  height: 18px;
  position: relative;
  width: 18px;
}

.notification-and-alerts .list-item-3 {
  align-self: stretch;
  margin-bottom: -3.00px;
  width: 100%;
}

.notification-and-alerts .switch-1 {
  align-items: center;
  background-color: var(--butterfly-bush);
  border-radius: 100px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  left: 1191px;
  padding: 2px 4px;
  position: absolute;
  top: 284px;
  width: 52px;
}

.notification-and-alerts .target-1 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 8px;
  padding: 4px;
  position: relative;
  top: -11px;
}

.notification-and-alerts .list-4-density-1 {
  display: flex;
  height: 116px;
  left: 908px;
  position: absolute;
  top: 636px;
  width: 360px;
}

.notification-and-alerts .list-item-3-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -4.00px;
  min-height: 40px;
  position: relative;
  width: 100%;
}

.notification-and-alerts .group-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 233px;
  min-height: 280px;
  position: absolute;
  top: 327px;
  width: 360px;
}

.notification-and-alerts .list-4-density-2 {
  display: flex;
  position: relative;
  width: 360px;
}

.notification-and-alerts .list-4-density-3 {
  display: inline-flex;
  position: relative;
}

.notification-and-alerts .list-item-1 {
  width: 360px;
}

.notification-and-alerts .arrow_back-3 {
  height: 33px;
  width: 36px;
}

.notification-and-alerts .list-4-density-4 {
  align-items: flex-start;
  background-color: var(--white-pointer-2);
  border-radius: 20px;
  flex-direction: column;
}

.notification-and-alerts .list-item-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  min-height: 40px;
  position: relative;
}

.notification-and-alerts .menu-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.notification-and-alerts .notification {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
}
