/* screen - tutor-dashboard */

.tutor-dashboard {
    align-items: flex-start;
    background-color: #afa7a7fc;
    display: flex;
    height: 1027.35px;
    overflow: hidden;
    width: 1477.95px;
  }
  
  .tutor-dashboard .overlap-group8 {
    height: 1046px;
    margin-left: -13px;
    margin-top: -1.34px;
    position: relative;
    width: 1491px;
  }
  
  .tutor-dashboard .template {
    align-items: flex-start;
    background-color: #afa7a7;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    height: 1045px;
    left: 0;
    padding: 0 0.0px;
    position: absolute;
    top: 1px;
    transform: rotate(-0.05deg);
    width: 1490px;
  }
  
  .tutor-dashboard .overlap-group2 {
    background-image: url(../img/rectangle-188.svg);
    background-size: 100% 100%;
    height: 1027px;
    margin-left: 12px;
    position: relative;
    width: 1478px;
  }
  
  .tutor-dashboard .group-15 {
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1478px;
  }
  
  .tutor-dashboard .overlap-group {
    border-radius: 20px;
    height: 75px;
    left: 177px;
    position: absolute;
    top: 8px;
    width: 1180px;
  }
  
  .tutor-dashboard .bottom-app-bar {
    align-items: center;
    background-color: var(--concrete);
    border-radius: 20px;
    display: flex;
    gap: 276px;
    height: 75px;
    left: 0;
    padding: 0px 16px 0px 4px;
    position: absolute;
    top: 0;
    width: 1180px;
  }
  
  .tutor-dashboard .leading-icon {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .tutor-dashboard .icon-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    position: relative;
    width: 48px;
  }
  
  .tutor-dashboard .container {
    align-items: center;
    border-radius: 100px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .tutor-dashboard .state-layer {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 8px;
    position: relative;
  }
  
  .tutor-dashboard .icon {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .tutor-dashboard .avater-icon {
    background-image: url(../img/generic-avatar-2.svg);
    background-size: 100% 100%;
    height: 38px;
    left: 1117px;
    position: absolute;
    top: 18px;
    width: 46px;
  }
  
  .tutor-dashboard .logo {
    height: 67px;
    left: 91px;
    position: absolute;
    top: 11px;
    width: 65px;
  }
  
  .tutor-dashboard .arrow_back {
    height: 33px;
    left: 16px;
    position: absolute;
    top: 11px;
    width: 36px;
  }
  
  .tutor-dashboard .overlap-group1 {
    height: 109px;
    left: 3px;
    position: absolute;
    top: 115px;
    width: 80px;
  }
  
  .tutor-dashboard .menu-fab {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 80px;
  }
  
  .tutor-dashboard .menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    position: relative;
    width: 48px;
  }
  
  .tutor-dashboard .fab-elevation-override {
    background-color: #a55f77;
    border-radius: 16px;
    flex: 0 0 auto;
    position: relative;
  }
  
  .tutor-dashboard .icon-2 {
    cursor: pointer;
    height: 24px;
    left: 28px;
    position: absolute;
    top: 69px;
    width: 24px;
  }
  
  .tutor-dashboard .notifications {
    cursor: pointer;
    height: 33px;
    left: 23px;
    position: absolute;
    top: 0;
    width: 36px;
  }
  
  .tutor-dashboard .dashbored-1 {
    align-items: flex-start;
    display: flex;
    gap: 7644px;
    height: 417px;
    left: 214px;
    min-width: 1121px;
    top: 354px;
  }
  
  .tutor-dashboard .icon-3 {
    height: 103px;
    margin-left: -8204px;
    margin-top: -2422.81px;
    transform: rotate(-0.05deg);
    width: 560px;
  }
  
  .tutor-dashboard .overlap-group3 {
    height: 417px;
    margin-top: -0.27px;
    position: relative;
    width: 1121px;
  }
  
  .tutor-dashboard .dashbored-2 {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black-2);
    box-shadow: 0px 4px 4px #00000040;
    height: 415px;
    left: 0;
    top: 1px;
    transform: rotate(-0.05deg);
    width: 1121px;
  }
  
  .tutor-dashboard .icon-4 {
    height: 22px;
    left: 49px;
    position: absolute;
    top: 1px;
    transform: rotate(-0.05deg);
    width: 12px;
  }
  
  .tutor-dashboard .see-history-of-individuals {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 400;
    left: 73px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    transform: rotate(-0.05deg);
  }
  
  .tutor-dashboard .line-chart {
    align-items: center;
    display: flex;
    height: 360px;
    left: 189px;
    min-width: 1171px;
    padding: 0 28.0px;
    position: absolute;
    top: 375px;
    transform: rotate(-0.05deg);
  }
  
  .tutor-dashboard .address-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 10.96px;
    min-height: 337px;
    width: 37px;
  }
  
  .tutor-dashboard .address-3 {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 0;
    min-height: 14px;
    text-align: right;
    width: 37px;
  }
  
  .tutor-dashboard .address-4 {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 0;
    margin-top: 45px;
    min-height: 14px;
    text-align: right;
    width: 37px;
  }
  
  .tutor-dashboard .address {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 0;
    margin-top: 52px;
    min-height: 14px;
    text-align: right;
    width: 26px;
  }
  
  .tutor-dashboard .address-5 {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 0.47px;
    margin-top: 51px;
    min-height: 14px;
    text-align: right;
    width: 26px;
  }
  
  .tutor-dashboard .flex-col {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 0;
    min-height: 356px;
    width: 1073px;
  }
  
  .tutor-dashboard .overlap-group4 {
    align-self: flex-end;
    height: 334px;
    position: relative;
    width: 1060px;
  }
  
  .tutor-dashboard .x-axis {
    height: 331px;
    left: 7px;
    position: absolute;
    top: 1px;
    transform: rotate(0.05deg);
    width: 1px;
  }
  
  .tutor-dashboard .x-axis-grid {
    height: 331px;
    left: 115px;
    top: 1px;
    width: 1px;
  }
  
  .tutor-dashboard .x-axis-grid-1 {
    left: 223px;
    top: 1px;
  }
  
  .tutor-dashboard .x-axis-grid-2 {
    left: 331px;
    top: 1px;
  }
  
  .tutor-dashboard .x-axis-grid-3 {
    left: 439px;
    top: 1px;
  }
  
  .tutor-dashboard .x-axis-grid-4 {
    left: 547px;
    top: 2px;
  }
  
  .tutor-dashboard .x-axis-grid-5 {
    left: 655px;
    top: 2px;
  }
  
  .tutor-dashboard .x-axis-grid-6 {
    left: 763px;
    top: 2px;
  }
  
  .tutor-dashboard .x-axis-grid-7 {
    left: 869px;
    top: 2px;
  }
  
  .tutor-dashboard .x-axis-grid-8 {
    left: 977px;
    top: 2px;
  }
  
  .tutor-dashboard .x-axis-1 {
    height: 1px;
    left: 9px;
    object-fit: cover;
    top: 332px;
    width: 1043px;
  }
  
  .tutor-dashboard .y-axis-grid {
    height: 1px;
    left: 9px;
    object-fit: cover;
    position: absolute;
    top: 267px;
    transform: rotate(0.05deg);
    width: 1043px;
  }
  
  .tutor-dashboard .y-axis-grid-1 {
    top: 201px;
  }
  
  .tutor-dashboard .y-axis-grid-2 {
    top: 134px;
  }
  
  .tutor-dashboard .y-axis-grid-3 {
    top: 68px;
  }
  
  .tutor-dashboard .y-axis-grid-4 {
    top: 0;
  }
  
  .tutor-dashboard .line {
    height: 255px;
    left: 8px;
    position: absolute;
    top: 75px;
    transform: rotate(0.05deg);
    width: 1044px;
  }
  
  .tutor-dashboard .marker {
    height: 9px;
    left: 0;
    position: absolute;
    top: 325px;
    transform: rotate(0.05deg);
    width: 18px;
  }
  
  .tutor-dashboard .marker-1 {
    left: 35px;
    top: 185px;
  }
  
  .tutor-dashboard .marker-2 {
    left: 71px;
    top: 181px;
  }
  
  .tutor-dashboard .marker-3 {
    left: 106px;
    top: 221px;
  }
  
  .tutor-dashboard .marker-4 {
    left: 143px;
    top: 181px;
  }
  
  .tutor-dashboard .marker-5 {
    left: 179px;
    top: 304px;
  }
  
  .tutor-dashboard .marker-6 {
    left: 214px;
    top: 245px;
  }
  
  .tutor-dashboard .marker-7 {
    left: 252px;
    top: 71px;
  }
  
  .tutor-dashboard .marker-8 {
    left: 287px;
    top: 198px;
  }
  
  .tutor-dashboard .marker-9 {
    left: 322px;
    top: 224px;
  }
  
  .tutor-dashboard .marker-10 {
    left: 359px;
    top: 185px;
  }
  
  .tutor-dashboard .marker-11 {
    left: 395px;
    top: 224px;
  }
  
  .tutor-dashboard .marker-12 {
    left: 430px;
    top: 164px;
  }
  
  .tutor-dashboard .marker-13 {
    left: 467px;
    top: 185px;
  }
  
  .tutor-dashboard .marker-14 {
    left: 503px;
    top: 245px;
  }
  
  .tutor-dashboard .marker-15 {
    left: 538px;
    top: 222px;
  }
  
  .tutor-dashboard .marker-16 {
    left: 573px;
    top: 196px;
  }
  
  .tutor-dashboard .marker-17 {
    left: 611px;
    top: 275px;
  }
  
  .tutor-dashboard .marker-18 {
    left: 646px;
    top: 196px;
  }
  
  .tutor-dashboard .marker-19 {
    left: 681px;
    top: 283px;
  }
  
  .tutor-dashboard .marker-20 {
    left: 719px;
    top: 245px;
  }
  
  .tutor-dashboard .marker-21 {
    left: 754px;
    top: 175px;
  }
  
  .tutor-dashboard .marker-22 {
    left: 789px;
    top: 291px;
  }
  
  .tutor-dashboard .marker-23 {
    left: 827px;
    top: 246px;
  }
  
  .tutor-dashboard .marker-24 {
    left: 862px;
    top: 105px;
  }
  
  .tutor-dashboard .marker-25 {
    left: 897px;
    top: 74px;
  }
  
  .tutor-dashboard .marker-26 {
    left: 935px;
    top: 137px;
  }
  
  .tutor-dashboard .marker-27 {
    left: 970px;
    top: 320px;
  }
  
  .tutor-dashboard .marker-28 {
    left: 1005px;
    top: 246px;
  }
  
  .tutor-dashboard .marker-29 {
    left: 1043px;
    top: 230px;
  }
  
  .tutor-dashboard .address-container-1 {
    align-items: center;
    display: flex;
    gap: 64px;
    height: 14px;
    min-width: 1015px;
  }
  
  .tutor-dashboard .address-1 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 14px;
    text-align: center;
    width: 44px;
  }
  
  .tutor-dashboard .address-2 {
    align-self: flex-start;
    letter-spacing: 0;
    line-height: normal;
    min-height: 14px;
    text-align: center;
    width: 44px;
  }
  
  .tutor-dashboard .address-6 {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: normal;
    min-height: 14px;
    text-align: center;
    width: 44px;
  }
  
  .tutor-dashboard .group-27 {
    align-items: flex-end;
    display: flex;
    height: 193px;
    left: 214px;
    min-width: 1135px;
    position: absolute;
    top: 125px;
  }
  
  .tutor-dashboard .overlap-group6 {
    border-radius: 20px;
    height: 190px;
    margin-bottom: 0;
    position: relative;
    width: 328px;
  }
  
  .tutor-dashboard .dashbored {
    background-color: var(--concrete);
    border: 1px solid;
    border-color: var(--black-2);
    border-radius: 20px;
    height: 190px;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(-0.05deg);
    width: 328px;
  }
  
  .tutor-dashboard .number {
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 110px;
    transform: rotate(-0.05deg);
  }
  
  .tutor-dashboard .students {
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 147px;
    transform: rotate(-0.05deg);
    white-space: nowrap;
  }
  
  .tutor-dashboard .gmail_groups {
    height: 62px;
    left: 18px;
    position: absolute;
    top: 30px;
    width: 71px;
  }
  
  .tutor-dashboard .overlap-group5 {
    border-radius: 20px;
    height: 190px;
    margin-bottom: 0.36px;
    margin-left: 71px;
    position: relative;
    width: 328px;
  }
  
  .tutor-dashboard .number-1 {
    left: 27px;
    top: 112px;
  }
  
  .tutor-dashboard .new-message {
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 146px;
    transform: rotate(-0.05deg);
    white-space: nowrap;
  }
  
  .tutor-dashboard .mail {
    height: 58px;
    left: 11px;
    position: absolute;
    top: 34px;
    width: 69px;
  }
  
  .tutor-dashboard .overlap-group7 {
    align-self: flex-start;
    border-radius: 20px;
    height: 190px;
    margin-left: 66px;
    position: relative;
    width: 328px;
  }
  
  .tutor-dashboard .address-7 {
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 112px;
    transform: rotate(-0.05deg);
  }
  
  .tutor-dashboard .weekly-hour {
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 143px;
    transform: rotate(-0.05deg);
    white-space: nowrap;
  }
  
  .tutor-dashboard .circular-determinate-progress-indicator {
    height: 74px;
    left: 22px;
    position: absolute;
    top: 28px;
    width: 75px;
  }
  
  .tutor-dashboard .number-2 {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-weight: 900;
    left: 40px;
    top: 44px;
    white-space: nowrap;
  }
  
  .tutor-dashboard .dashbored-3 {
    background-color: var(--concrete);
    border: 1px solid;
    border-color: var(--black-2);
    height: 209px;
    left: 214px;
    top: 787px;
    transform: rotate(-0.05deg);
    width: 1121px;
  }
  
  .tutor-dashboard .see-more {
    left: 1211px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 954px;
    transform: rotate(-0.05deg);
  }
  
  .tutor-dashboard .x10-27-calc-at-12pm-student-mike-k {
    left: 276px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 913px;
    transform: rotate(-0.05deg);
  }
  
  .tutor-dashboard .x1020-math-1-at-230pm-student-zendaya-b {
    height: 25px;
    left: 273px;
    position: absolute;
    top: 876px;
    transform: rotate(-0.05deg);
    width: 397px;
  }
  
  .tutor-dashboard .corner-down-right {
    height: 32px;
    left: 238px;
    position: absolute;
    top: 862px;
    transform: rotate(-0.05deg);
    width: 32px;
  }
  
  .tutor-dashboard .corner-down-right-1 {
    top: 909px;
  }
  
  .tutor-dashboard .x111-algebra-at-9pm-student-bee-v {
    left: 276px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 954px;
    transform: rotate(-0.05deg);
  }
  
  .tutor-dashboard .corner-down-right-2 {
    top: 950px;
  }
  
  .tutor-dashboard .rectangle-175 {
    height: 28px;
    left: 233px;
    position: absolute;
    top: 828px;
    transform: rotate(-0.05deg);
    width: 267px;
  }
  
  .tutor-dashboard .upcoming-task {
    left: 249px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 827px;
    transform: rotate(-0.05deg);
  }
  
  .tutor-dashboard .completed-tasks {
    left: 243px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 796px;
    transform: rotate(-0.05deg);
    width: 150px;
  }
  
  .tutor-dashboard .icon-5 {
    height: 23px;
    left: 1304px;
    position: absolute;
    top: 954px;
    transform: rotate(-0.05deg);
    width: 12px;
  }
  
  .tutor-dashboard .icon-6 {
    height: 23px;
    left: 223px;
    position: absolute;
    top: 810px;
    transform: rotate(-0.05deg);
    width: 12px;
  }
  
  .tutor-dashboard .corner-down-right-3 {
    height: 32px;
    left: 233px;
    position: absolute;
    transform: rotate(-0.05deg);
    width: 32px;
  }
  
  .tutor-dashboard .dashbored-4 {
    border-radius: 20px;
    position: absolute;
  }
  
  .tutor-dashboard .marker-30 {
    height: 9px;
    position: absolute;
    transform: rotate(0.05deg);
    width: 18px;
  }
  
  .tutor-dashboard .number-3 {
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    transform: rotate(-0.05deg);
  }
  
  .tutor-dashboard .x-axis-2 {
    position: absolute;
    transform: rotate(0.05deg);
  }
  
  .tutor-dashboard .x-axis-grid-9 {
    height: 331px;
    position: absolute;
    transform: rotate(0.05deg);
    width: 1px;
  }
  
  .tutor-dashboard .y-axis-grid-5 {
    height: 1px;
    left: 9px;
    object-fit: cover;
    position: absolute;
    transform: rotate(0.05deg);
    width: 1043px;
  }
  