@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Bona+Nova:400|Blinker:400|Inter:400,900,200,600|Roboto:500,400,600,300|Inria+Serif:400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6726e5f9b1f76378ad93433f.6726e5fab1f76378ad934342.qcZF8oF.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.fab {
  align-items: center;
  background-color: var(--rose-dust);
  border-radius: 16px;
  box-shadow: 0px 1px 3px #0000004c , 0px 4px 8px 3px #00000026;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.nav-item-1 {
  margin-top: -4.50px;
}

.nav-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 0px 2px 4px;
  position: relative;
  width: 100%;
}

.nav-item-7 {
  margin-bottom: -4.50px;
}

.group-32 {
  height: 109px;
  position: relative;
  width: 80px;
}

.notifications {
  cursor: pointer;
  height: 33px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 36px;
}

.nav-item-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 0px 2px 4px;
  position: relative;
  width: 100%;
}

.icon-1-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.price {
  color: var(--eerie-black);
  font-weight: 400;
  left: 56px;
  line-height: 32px;
  position: absolute;
  top: 0;
  width: 476px;
}

.span2 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

.menu-1 {
  gap: 10px;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.price-3 {
  color: var(--eerie-black);
  font-weight: 400;
}

.gmail_groups {
  height: 62px;
  left: 18px;
  position: absolute;
  top: 30px;
  width: 71px;
}

.new-message {
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 146px;
  transform: rotate(-0.05deg);
  white-space: nowrap;
}

.mail {
  height: 58px;
  left: 11px;
  position: absolute;
  top: 34px;
  width: 69px;
}

.weekly-hour {
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 143px;
  transform: rotate(-0.05deg);
  white-space: nowrap;
}

.circular-determinate-progress-indicator {
  height: 74px;
  left: 22px;
  position: absolute;
  top: 28px;
  width: 75px;
}

.number-2 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-weight: 900;
  left: 40px;
  top: 44px;
  white-space: nowrap;
}

.number-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  transform: rotate(-0.05deg);
}

.trailing-element {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  margin-bottom: -4.00px;
  margin-top: -4.00px;
  position: relative;
}

.check_small {
  height: 24px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 24px;
}

.menu-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.trailing-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}