.leftbar {
  display: flex;
  flex-direction: column;
  width: 96px;
  height: 1040px;
  align-items: center;
  gap: 60px;
  padding: 44px 0px 56px;
  position: relative;
  background-color: #fdf7ff;
}

.leftbar .arrow-back {
  position: relative;
  width: 36px;
  height: 33px;
}

.leftbar .group {
  position: relative;
  width: 80px;
  height: 109px;
}

.leftbar .destinations {
  display: flex;
  flex-direction: column;
  width: 96px;
  height: 571px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 5px 0px;
  position: absolute;
  top: 289px;
  left: 0;
}

.leftbar .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 0px 2px 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.leftbar .home {
  position: relative;
  width: 42.42px;
  height: 31.48px;
}

.leftbar .label {
  position: relative;
  align-self: stretch;
  font-family: var(--m3-label-medium-font-family);
  font-weight: var(--m3-label-medium-font-weight);
  color: #45414a;
  font-size: var(--m3-label-medium-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-medium-letter-spacing);
  line-height: var(--m3-label-medium-line-height);
  font-style: var(--m3-label-medium-font-style);
}

.leftbar .schedule {
  width: 44.56px;
  height: 44.06px;
  position: relative;
}

.leftbar .img {
  width: 40.31px;
  height: 38.72px;
  position: relative;
}

.leftbar .inbox {
  position: relative;
  width: 39.07px;
  height: 36.51px;
}

.leftbar .icon {
  position: relative;
  width: 28.78px;
  height: 27.93px;
}

.leftbar .text-wrapper {
  margin-top: -1.00px;
  position: relative;
  align-self: stretch;
  font-family: var(--m3-label-medium-font-family);
  font-weight: var(--m3-label-medium-font-weight);
  color: #45414a;
  font-size: var(--m3-label-medium-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-medium-letter-spacing);
  line-height: var(--m3-label-medium-line-height);
  font-style: var(--m3-label-medium-font-style);
}

.leftbar .icon-2 {
  position: relative;
  width: 33.3px;
  height: 29.14px;
}
