/* screen - performance-tracking-johnny */

.performance-tracking-johnny {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.performance-tracking-johnny .overlap-group8 {
  height: 1045px;
  margin-left: -3px;
  margin-top: -1px;
  position: relative;
  width: 1480px;
}

.performance-tracking-johnny .overlap-group7 {
  height: 1045px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1480px;
}

.performance-tracking-johnny .rectangle-173 {
  background-color: var(--white);
  height: 1024px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.performance-tracking-johnny .template {
  align-items: flex-start;
  background-color: var(--shady-lady);
  display: flex;
  height: 1045px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1480px;
}

.performance-tracking-johnny .overlap-group4 {
  height: 1045px;
  margin-left: -36px;
  margin-top: -20.0px;
  position: relative;
  width: 1532px;
}

.performance-tracking-johnny .rectangle-188 {
  height: 1024px;
  left: 39px;
  position: absolute;
  top: 21px;
  width: 1440px;
}

.performance-tracking-johnny .dashbored {
  background-color: var(--lavender-gray);
  border: 0px none;
  height: 115px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1516px;
}

.performance-tracking-johnny .overlap-group1 {
  height: 115px;
  left: 92px;
  position: absolute;
  top: 14px;
  width: 1440px;
}

.performance-tracking-johnny .dashbored-1 {
  background-color: var(--lavender-gray);
  border: 0px none;
  height: 115px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.performance-tracking-johnny .overlap-group-1 {
  border-radius: 20px;
  height: 75px;
  left: 184px;
  position: absolute;
  top: 20px;
  width: 1180px;
}

.performance-tracking-johnny .bottom-app-bar {
  align-items: center;
  background-color: var(--concrete);
  border-radius: 20px;
  display: flex;
  gap: 276px;
  height: 75px;
  left: 0;
  padding: 0px 16px 0px 4px;
  position: absolute;
  top: 0;
  width: 1180px;
}

.performance-tracking-johnny .leading-icon {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.performance-tracking-johnny .container {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.performance-tracking-johnny .state-layer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.performance-tracking-johnny .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.performance-tracking-johnny .avater-icon {
  background-image: url(../img/generic-avatar-4.svg);
  background-size: 100% 100%;
  height: 38px;
  left: 1117px;
  position: absolute;
  top: 18px;
  width: 46px;
}

.performance-tracking-johnny .logo {
  height: 67px;
  left: 99px;
  position: absolute;
  top: 26px;
  width: 65px;
}

.performance-tracking-johnny .component-12 {
  align-items: flex-start;
  display: flex;
  height: 1030px;
  left: 36px;
  min-width: 86px;
  position: absolute;
  top: 12px;
}

.performance-tracking-johnny .overlap-group2 {
  height: 1030px;
  position: relative;
  width: 86px;
}

.performance-tracking-johnny .navigation-rail {
  align-items: center;
  background-color: var(--white-pointer);
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 1030px;
  left: 0;
  padding: 44px 0px 56px;
  position: absolute;
  top: 0;
  width: 86px;
}

.performance-tracking-johnny .arrow_back {
  height: 33px;
  position: relative;
  width: 36px;
}

.performance-tracking-johnny .menu-fab {
  flex: 0 0 auto;
  gap: 4px;
  width: 80px;
}

.performance-tracking-johnny .menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.performance-tracking-johnny .fab-elevation-override {
  align-items: flex-start;
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  overflow: hidden;
  position: relative;
}

.performance-tracking-johnny .state-layer-1 {
  padding: 16px;
}

.performance-tracking-johnny .destinations {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 397px;
  justify-content: center;
  left: 0;
  padding: 5px 0px;
  position: absolute;
  top: 320px;
  width: 86px;
}

.performance-tracking-johnny .container-1 {
  background-color: var(--deluge);
}

.performance-tracking-johnny .state-layer-2 {
  padding: 4px 16px;
}

.performance-tracking-johnny .label {
  align-self: stretch;
  color: var(--eerie-black);
  font-weight: 600;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.performance-tracking-johnny .container-2 {
  flex-direction: column;
}

.performance-tracking-johnny .label-1 {
  align-self: stretch;
  color: var(--gravel);
  font-weight: 500;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.performance-tracking-johnny .pie-chart {
  cursor: pointer;
  height: 40px;
  left: 22px;
  position: absolute;
  top: 384px;
  width: 41px;
}

.performance-tracking-johnny .log-out {
  height: 39px;
  left: 23px;
  position: absolute;
  top: 667px;
  width: 38px;
}

.performance-tracking-johnny .inbox {
  cursor: pointer;
  height: 36px;
  left: 25px;
  position: absolute;
  top: 523px;
  width: 35px;
}

.performance-tracking-johnny .schedule {
  cursor: pointer;
  height: 38px;
  left: 25px;
  position: absolute;
  top: 454px;
  width: 37px;
}

.performance-tracking-johnny .home {
  cursor: pointer;
  height: 31px;
  left: 24px;
  position: absolute;
  top: 316px;
  width: 38px;
}

.performance-tracking-johnny .icon-1 {
  height: 38px;
  left: 26px;
  top: 590px;
  width: 34px;
}

.performance-tracking-johnny .arrow_back-1 {
  cursor: pointer;
  height: 33px;
  position: relative;
  width: 36px;
}

.performance-tracking-johnny .overlap-group {
  height: 109px;
  position: relative;
}

.performance-tracking-johnny .menu-fab-1 {
  top: 1px;
}

.performance-tracking-johnny .fab-elevation-override-1 {
  background-color: var(--rose-dust);
  border-radius: 16px;
  flex: 0 0 auto;
  position: relative;
}

.performance-tracking-johnny .icon-2 {
  height: 24px;
  left: 28px;
  top: 69px;
  width: 24px;
}

.performance-tracking-johnny .log-out-1 {
  cursor: pointer;
  top: 667px;
}

.performance-tracking-johnny .fab {
  align-items: center;
  background-color: var(--rose-dust);
  border-radius: 16px;
  box-shadow: 0px 1px 3px #0000004c , 0px 4px 8px 3px #00000026;
  display: inline-flex;
  justify-content: center;
  left: 252px;
  overflow: hidden;
  position: absolute;
  top: 218px;
}

.performance-tracking-johnny .overlap-group3 {
  height: 109px;
  left: 161px;
  position: absolute;
  top: 173px;
  width: 80px;
}

.performance-tracking-johnny .menu-2 {
  gap: 10px;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.performance-tracking-johnny .template-1 {
  align-items: flex-start;
  background-color: var(--shady-lady);
  display: flex;
  height: 1022px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1443px;
}

.performance-tracking-johnny .overlap-group5 {
  height: 1042px;
  margin-left: -36px;
  margin-top: -20.0px;
  position: relative;
  width: 1532px;
}

.performance-tracking-johnny .rectangle-188-1 {
  height: 1021px;
  left: 39px;
  position: absolute;
  top: 21px;
  width: 1440px;
}

.performance-tracking-johnny .overlap-group-2 {
  border-radius: 20px;
  height: 75px;
  left: 134px;
  position: absolute;
  top: 20px;
  width: 1180px;
}

.performance-tracking-johnny .logo-1 {
  height: 67px;
  left: 49px;
  position: absolute;
  top: 26px;
  width: 65px;
}

.performance-tracking-johnny .component-12-1 {
  align-items: flex-start;
  display: flex;
  height: 1022px;
  left: 36px;
  min-width: 86px;
  position: absolute;
  top: 20px;
}

.performance-tracking-johnny .overlap-group2-1 {
  height: 1022px;
  position: relative;
  width: 86px;
}

.performance-tracking-johnny .navigation-rail-1 {
  align-items: center;
  background-color: var(--white-pointer);
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 1022px;
  left: 0;
  padding: 44px 0px 56px;
  position: absolute;
  top: 0;
  width: 86px;
}

.performance-tracking-johnny .menu-3 {
  gap: 10px;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.performance-tracking-johnny .destinations-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 397px;
  justify-content: center;
  left: 0;
  padding: 5px 0px;
  position: absolute;
  top: 316px;
  width: 86px;
}

.performance-tracking-johnny .pie-chart-1 {
  cursor: pointer;
  height: 40px;
  left: 22px;
  position: absolute;
  top: 381px;
  width: 41px;
}

.performance-tracking-johnny .log-out-2 {
  top: 662px;
}

.performance-tracking-johnny .inbox-1 {
  cursor: pointer;
  height: 36px;
  left: 25px;
  position: absolute;
  top: 519px;
  width: 35px;
}

.performance-tracking-johnny .schedule-1 {
  cursor: pointer;
  height: 38px;
  left: 25px;
  position: absolute;
  top: 450px;
  width: 37px;
}

.performance-tracking-johnny .home-1 {
  cursor: pointer;
  height: 31px;
  left: 24px;
  position: absolute;
  top: 313px;
  width: 38px;
}

.performance-tracking-johnny .icon-3 {
  height: 38px;
  left: 26px;
  top: 586px;
  width: 34px;
}

.performance-tracking-johnny .menu-4 {
  gap: 10px;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.performance-tracking-johnny .log-out-3 {
  cursor: pointer;
  top: 662px;
}

.performance-tracking-johnny .overlap-group3-1 {
  height: 108px;
  left: 39px;
  position: absolute;
  top: 158px;
  width: 80px;
}

.performance-tracking-johnny .menu-5 {
  gap: 10px;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.performance-tracking-johnny .icon-4 {
  height: 23px;
  left: 27px;
  top: 63px;
  width: 23px;
}

.performance-tracking-johnny .overlap-group6 {
  border-radius: 20px;
  height: 398px;
  left: 297px;
  position: absolute;
  top: 302px;
  width: 1043px;
}

.performance-tracking-johnny .card {
  align-items: flex-start;
  border: 0px none;
  border-radius: 20px;
  display: flex;
  height: 398px;
  left: 0;
  min-width: 1043px;
  position: absolute;
  top: 0;
}

.performance-tracking-johnny .overlap-group-3 {
  background-image: url(../img/shadow.svg);
  background-size: 100% 100%;
  height: 422px;
  margin-left: -13px;
  margin-top: -7px;
  position: relative;
  width: 1067px;
}

.performance-tracking-johnny .color {
  height: 396px;
  left: 13px;
  position: absolute;
  top: 7px;
  width: 1041px;
}

.performance-tracking-johnny .title {
  height: 41px;
  left: 13px;
  position: absolute;
  top: 7px;
  width: 1041px;
}

.performance-tracking-johnny .chart {
  align-items: flex-start;
  display: flex;
  gap: 13px;
  height: 281px;
  left: 213px;
  min-width: 807px;
  position: absolute;
  top: 92px;
}

.performance-tracking-johnny .levels {
  align-items: flex-start;
  border: 0px none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  height: 255px;
  margin-left: -1px;
  margin-top: -1px;
  overflow: hidden;
  padding: 2.7px 0;
  width: 18px;
}

.performance-tracking-johnny .x700 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 0.33px;
  min-height: 12px;
  white-space: nowrap;
}

.performance-tracking-johnny .levels-item {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.performance-tracking-johnny .flex-col {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: -1.0px;
  min-height: 276px;
  width: 778px;
}

.performance-tracking-johnny .overlap-group1-1 {
  height: 244px;
  margin-right: 2.74px;
  position: relative;
  width: 758px;
}

.performance-tracking-johnny .grid {
  height: 242px;
  left: 0;
  position: absolute;
  top: 0;
  width: 757px;
}

.performance-tracking-johnny .waves {
  background-image: url(../img/-1.svg);
  background-size: 100% 100%;
  height: 198px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 758px;
}

.performance-tracking-johnny .months {
  align-items: flex-start;
  border: 0px none;
  border-radius: 20px;
  display: flex;
  height: 15px;
  overflow: hidden;
  width: 778px;
}

.performance-tracking-johnny .name {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
  width: 17px;
}

.performance-tracking-johnny .months-item {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 51px;
  min-height: 12px;
  white-space: nowrap;
  width: 16px;
}

.performance-tracking-johnny .place {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 51px;
  min-height: 12px;
  white-space: nowrap;
  width: 20px;
}

.performance-tracking-johnny .apr {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 50px;
  min-height: 12px;
  white-space: nowrap;
  width: 17px;
}

.performance-tracking-johnny .name-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 52px;
  min-height: 12px;
  white-space: nowrap;
  width: 19px;
}

.performance-tracking-johnny .months-item-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 51px;
  min-height: 12px;
  white-space: nowrap;
  width: 18px;
}

.performance-tracking-johnny .jul {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 50px;
  min-height: 12px;
  white-space: nowrap;
  width: 16px;
}

.performance-tracking-johnny .aug {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 52px;
  min-height: 12px;
  white-space: nowrap;
  width: 18px;
}

.performance-tracking-johnny .dec {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 51px;
  min-height: 12px;
  white-space: nowrap;
}

.performance-tracking-johnny .x1 {
  align-items: flex-start;
  border: 0px none;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  height: 69px;
  left: 19px;
  min-width: 166px;
  padding: 1px 0;
  position: absolute;
  top: 73px;
}

.performance-tracking-johnny .chart-1 {
  align-items: flex-start;
  display: flex;
  height: 63px;
  min-width: 63px;
  padding: 1.3px;
}

.performance-tracking-johnny .overlap-group-4 {
  border-radius: 30.24px;
  height: 60px;
  position: relative;
  width: 60px;
}

.performance-tracking-johnny .progress {
  align-items: flex-start;
  background-color: var(--shady-lady);
  background-image: url(../img/oval-copy-2.svg);
  background-size: 100% 100%;
  border-radius: 30.24px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 0;
  min-width: 60px;
  padding: 0 7.4px;
  position: absolute;
  top: 0;
}

.performance-tracking-johnny .progress-1 {
  height: 16px;
  width: 27px;
}

.performance-tracking-johnny .number {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 15px;
  font-weight: 300;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
}

.performance-tracking-johnny .title-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 9.68px;
  min-height: 31px;
  width: 78px;
}

.performance-tracking-johnny .title-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 14px;
  white-space: nowrap;
}

.performance-tracking-johnny .sub-title {
  color: #869aac;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0.20px;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.performance-tracking-johnny .jane-default {
  align-items: flex-start;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 382px;
  left: 724px;
  overflow: hidden;
  position: absolute;
  top: 214px;
  width: 147px;
}

.performance-tracking-johnny .vector {
  height: 7px;
  position: relative;
  width: 12px;
}

.performance-tracking-johnny .rectangle-180 {
  height: 60px;
  left: 299px;
  position: absolute;
  top: 739px;
  width: 475px;
}

.performance-tracking-johnny .rectangle-182 {
  background-color: var(--black);
  border-radius: 5px;
  height: 10px;
  left: 622px;
  position: absolute;
  top: 764px;
  width: 102px;
}

.performance-tracking-johnny .assignment-a {
  left: 636px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 738px;
}

.performance-tracking-johnny .test-a {
  left: 383px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 738px;
}

.performance-tracking-johnny .rectangle-181 {
  background-color: var(--black);
  border-radius: 5px;
  height: 10px;
  left: 349px;
  position: absolute;
  top: 764px;
  width: 102px;
}

.performance-tracking-johnny .rectangle-183 {
  background-color: #05c985;
  border-radius: 5px;
  height: 8px;
  left: 623px;
  position: absolute;
  top: 765px;
  width: 80px;
}

.performance-tracking-johnny .profile-info {
  align-items: flex-start;
  display: flex;
  height: 137px;
  left: 719px;
  padding: 0 33px;
  position: absolute;
  top: 119px;
  width: 156px;
}

.performance-tracking-johnny .home-image {
  height: 90px;
  width: 90px;
}

.performance-tracking-johnny .container-3 {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.performance-tracking-johnny .icon-5 {
  cursor: pointer;
  position: absolute;
}

.performance-tracking-johnny .icon-1-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.performance-tracking-johnny .log-out-4 {
  height: 39px;
  left: 23px;
  position: absolute;
  width: 38px;
}

.performance-tracking-johnny .menu-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.performance-tracking-johnny .state-layer-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}
