/* screen - session-scheduling */
:root {
  --shady-lady: #B6B2D4;
  --background-color: var(--shady-lady);
  --height: 1024px;
  --width: 1440px;
  --overlap-group4-height: 1045px;
  --overlap-group4-margin-left: -5px;
  --overlap-group4-width: 1480px;
  --template-height: 1045px;
  --template-left: 0;
  --template-top: 0;
  --template-width: 1480px;
  --overlap-group2-height: 1044px;
  --overlap-group2-margin-left: -36px;
  --overlap-group2-margin-top: -20px;
  --overlap-group2-width: 1516px;
  --rectangle-188-height: 1024px;
  --rectangle-188-left: 41px;
  --rectangle-188-top: 20px;
  --rectangle-188-width: 1440px;
}

.session-scheduling {
  align-items: flex-start;
  background-color: var(--shady-lady);
  display: flex;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.session-scheduling .overlap-group4 {
  height: 1045px;
  margin-left: -5px;
  position: relative;
  width: 1480px;
}

.session-scheduling .template {
  align-items: flex-start;
  background-color: var(--shady-lady);
  display: flex;
  height: 1045px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1480px;
}

.session-scheduling .overlap-group2 {
  height: 1044px;
  margin-left: -36px;
  margin-top: -20.0px;
  position: relative;
  width: 1516px;
}

.session-scheduling .rectangle-188 {
  height: 1024px;
  left: 41px;
  position: absolute;
  top: 20px;
  width: 1440px;
}

.session-scheduling .dashbored {
  background-color: var(--lavender-gray);
  border: 0px none;
  height: 115px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1516px;
}

.session-scheduling .component-7 {
  align-items: flex-start;
  display: flex;
  height: 1024px;
  left: 36px;
  min-width: 86px;
  position: absolute;
  top: 20px;
}

.session-scheduling .overlap-group1 {
  height: 1024px;
  position: relative;
  width: 86px;
}

.session-scheduling .navigation-rail {
  align-items: center;
  background-color: var(--white-pointer);
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 1024px;
  left: 0;
  padding: 44px 0px 56px;
  position: absolute;
  top: 0;
  width: 86px;
}

.session-scheduling .arrow_back {
  height: 33px;
  position: relative;
  width: 36px;
}

.session-scheduling .menu-fab {
  flex: 0 0 auto;
  gap: 4px;
  width: 80px;
}

.session-scheduling .menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .container {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.session-scheduling .state-layer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.session-scheduling .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.session-scheduling .fab-elevation-override {
  align-items: flex-start;
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  overflow: hidden;
  position: relative;
}

.session-scheduling .state-layer-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px;
  position: relative;
}

.session-scheduling .destinations {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 397px;
  justify-content: center;
  left: 0;
  padding: 5px 0px;
  position: absolute;
  top: 317px;
  width: 86px;
}

.session-scheduling .container-1 {
  align-items: center;
  background-color: var(--deluge);
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.session-scheduling .state-layer-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 4px 16px;
  position: relative;
}

.session-scheduling .label {
  align-self: stretch;
  color: var(--eerie-black);
  font-weight: 600;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.session-scheduling .container-2 {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.session-scheduling .label-1 {
  align-self: stretch;
  color: var(--gravel);
  line-height: 16px;
}

.session-scheduling .pie-chart {
  cursor: pointer;
  height: 40px;
  left: 22px;
  position: absolute;
  top: 382px;
  width: 41px;
}

.session-scheduling .log-out {
  height: 39px;
  left: 23px;
  position: absolute;
  top: 663px;
  width: 38px;
}

.session-scheduling .inbox {
  cursor: pointer;
  height: 36px;
  left: 25px;
  position: absolute;
  top: 520px;
  width: 35px;
}

.session-scheduling .schedule {
  cursor: pointer;
  height: 38px;
  left: 25px;
  position: absolute;
  top: 451px;
  width: 37px;
}

.session-scheduling .home {
  cursor: pointer;
  height: 31px;
  left: 24px;
  position: absolute;
  top: 314px;
  width: 38px;
}

.session-scheduling .icon-1 {
  cursor: pointer;
  height: 38px;
  left: 26px;
  position: absolute;
  top: 587px;
  width: 34px;
}

.session-scheduling .arrow_back-1 {
  cursor: pointer;
  height: 33px;
  position: relative;
  width: 36px;
}

.session-scheduling .overlap-group {
  height: 109px;
  position: relative;
}

.session-scheduling .menu-fab-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 80px;
}

.session-scheduling .fab-elevation-override-1 {
  background-color: var(--rose-dust);
  border-radius: 16px;
  flex: 0 0 auto;
  position: relative;
}

.session-scheduling .icon-3 {
  cursor: pointer;
  height: 24px;
  left: 28px;
  position: absolute;
  top: 69px;
  width: 24px;
}

.session-scheduling .log-out-1 {
  cursor: pointer;
  height: 39px;
  left: 23px;
  position: absolute;
  top: 663px;
  width: 38px;
}

.session-scheduling .group-15 {
  align-items: flex-end;
  display: flex;
  gap: 48px;
  height: 654px;
  left: 168px;
  min-width: 1125px;
  position: absolute;
  top: 243px;
}

.session-scheduling .frame-container {
  border-radius: 20px;
  height: 649px;
  position: relative;
  width: 260px;
}

.session-scheduling .frame-24 {
  align-items: flex-start;
  background-color: var(--soft-peach);
  border-radius: 20px;
  display: flex;
  height: 649px;
  left: 0;
  overflow: hidden;
  padding: 7px 54.2px;
  position: absolute;
  top: 0;
  width: 260px;
}

.session-scheduling .overlap-group-1 {
  background-color: var(--alto);
  background-image: url(../img/pic-3-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 150px;
  margin-left: 2px;
  width: 150px;
}

.session-scheduling .frame-25 {
  align-items: flex-start;
  display: flex;
  height: 420px;
  left: 31px;
  overflow: hidden;
  position: absolute;
  top: 158px;
  width: 199px;
}

.session-scheduling .john-doe-math-tutor {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 300px;
  width: 200px;
}

.session-scheduling .span1 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
}

.session-scheduling .group-14 {
  align-items: flex-start;
  display: flex;
  gap: 59px;
  height: 654px;
  margin-bottom: 0;
  min-width: 817px;
}

.session-scheduling .overlap-group1-1 {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--soft-peach);
  border-radius: 20px;
  display: flex;
  height: 649px;
  justify-content: flex-end;
  margin-bottom: 0;
  min-width: 379px;
}

.session-scheduling .docked-input-date-picker-desktop {
  align-items: flex-start;
  background-color: var(--soft-peach);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 0;
  min-height: 640px;
  padding: 8px 0;
  width: 376px;
}

.session-scheduling .text-field {
  align-items: flex-start;
  background-color: var(--shady-lady);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  height: 56px;
  position: relative;
  width: 312px;
}

.session-scheduling .text-field-1 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--butterfly-bush);
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 56px;
  margin-right: -14.00px;
  position: relative;
}

.session-scheduling .state-layer-8 {
  align-items: flex-start;
  background-color: var(--soft-peach);
  border-radius: 4px 4px 0px 0px;
  display: inline-flex;
  height: 56px;
  padding: 4px 0px 4px 30px;
  position: relative;
}

.session-scheduling .content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  width: 248px;
}

.session-scheduling .input-text-container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.session-scheduling .input-text {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .label-text-container {
  align-items: center;
  background-color: var(--white-pointer-2);
  border-radius: 28px;
  display: inline-flex;
  left: -4px;
  padding: 0px 4px;
  position: absolute;
  top: -12px;
}

.session-scheduling .label-text-2 {
  color: var(--butterfly-bush);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .state-layer-9 {
  align-items: center;
  background-color: #49454f1f;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.session-scheduling .supporting-text {
  align-items: flex-start;
  background-color: var(--soft-peach);
  display: flex;
  gap: 10px;
  height: 20px;
  left: 0;
  padding: 4px 25px 0px;
  position: absolute;
  top: 56px;
  width: 312px;
}

.session-scheduling .supporting-text-1 {
  color: var(--gravel-2);
  flex: 1;
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.session-scheduling .date-picker {
  align-items: flex-start;
  background-color: var(--prim);
  border-radius: 16px;
  display: inline-flex;
  flex-direction: column;
  margin-left: 0;
  overflow: hidden;
  padding: 36px 0px;
  position: relative;
}

.session-scheduling .selection-row {
  align-items: center;
  align-self: stretch;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0px 15px;
  position: relative;
  width: 100%;
}

.session-scheduling .x-drop-down {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}

.session-scheduling .icon-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .building-blocks-menu-button {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.session-scheduling .state-layer-2 {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 4px 10px 8px;
  position: relative;
}

.session-scheduling .label-text {
  color: var(--gravel-2);
  line-height: 20px;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .icon-2 {
  height: 18px;
  position: relative;
  width: 18px;
}

.session-scheduling .building-blocks-menu-button-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.session-scheduling .calendar-grid {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 12px 4px 25px;
  position: relative;
}

.session-scheduling .days-of-the-week {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

.session-scheduling .days-of-the-week-item {
  align-items: center;
  border-radius: 100px;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .date {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .week {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.session-scheduling .sunday {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .container-3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 40px;
  position: relative;
  width: 40px;
}

.session-scheduling .state-layer-3 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 40px;
}

.session-scheduling .date-1 {
  color: var(--gravel-2);
  font-weight: 400;
  line-height: 24px;
  margin-bottom: -1.00px;
  margin-top: -3.00px;
  opacity: 0.38;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .monday {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .tuesday {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .wednesday {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .thursday {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .friday {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .saturday {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .container-4 {
  align-items: center;
  border-radius: 100px;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.session-scheduling .state-layer-4 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
}

.session-scheduling .thursday-3 {
  flex-direction: column;
}

.session-scheduling .container-5 {
  align-items: flex-start;
  background-color: var(--butterfly-bush);
  border-radius: 100px;
  display: flex;
  gap: 10px;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.session-scheduling .date-2 {
  color: var(--white);
  font-weight: 400;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .local-actions {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 8px 12px;
  position: relative;
  width: 100%;
}

.session-scheduling .x-button {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.session-scheduling .state-layer-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  justify-content: center;
  padding: 10px 12px;
  position: relative;
  width: 100%;
}

.session-scheduling .label-text-1 {
  color: var(--butterfly-bush);
  font-weight: 500;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .button-container {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
}

.session-scheduling .frame-19 {
  background-color: var(--soft-peach);
  border-radius: 20px;
  height: 649px;
  width: 379px;
}

.session-scheduling .frame-20 {
  align-items: flex-end;
  background-color: var(--bon-jour);
  border-radius: 20px;
  display: flex;
  height: 619px;
  left: 930px;
  overflow: hidden;
  padding: 96px 109px;
  position: absolute;
  top: 261px;
  width: 345px;
}

.session-scheduling .button {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--sonic-silver);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  position: relative;
  width: 127px;
}

.session-scheduling .button-1 {
  color: var(--eerie-black-2);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.session-scheduling .rectangle-178 {
  height: 100px;
  left: 270px;
  position: absolute;
  top: 68px;
  width: 915px;
}

.session-scheduling .book-appointment {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-weight: 400;
  left: 270px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 915px;
}

.session-scheduling .input {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 163px;
  justify-content: center;
  left: 986px;
  padding: 72px 0px 50px;
  position: absolute;
  top: 282px;
  width: 216px;
}

.session-scheduling .time-picker-inputs {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-top: -46.50px;
  position: relative;
}

.session-scheduling .hour-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  position: relative;
  width: 96px;
}

.session-scheduling .selected {
  align-items: center;
  align-self: stretch;
  background-color: var(--blue-chalk);
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.session-scheduling .time-text {
  color: var(--gigas);
  font-weight: 400;
  height: 80px;
  line-height: 64px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 96px;
}

.session-scheduling .separator {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-57px);
  font-weight: 400;
  height: 80px;
  letter-spacing: 0;
  line-height: 64px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 24px;
}

.session-scheduling .minute-input {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 96px;
}

.session-scheduling .default {
  align-items: center;
  align-self: stretch;
  background-color: var(--bon-jour);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.session-scheduling .time-text-1 {
  color: var(--eerie-black);
  font-weight: 400;
  height: 80px;
  line-height: 64px;
  margin-left: -0.50px;
  margin-right: -0.50px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 97px;
}

.session-scheduling .period-selector {
  align-items: flex-start;
  background-color: var(--prim);
  border: 1px solid;
  border-color: var(--boulder);
  border-radius: 8px;
  display: flex;
  height: 38px;
  margin-bottom: -46.50px;
  overflow: hidden;
  position: relative;
  width: 216px;
}

.session-scheduling .am {
  align-items: flex-start;
  background-color: #ffd8e4;
  border-color: var(--boulder);
  border-right-style: solid;
  border-right-width: 1px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-top: -1.00px;
  position: relative;
}

.session-scheduling .state-layer-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 38px;
  justify-content: center;
  position: relative;
  width: 108px;
}

.session-scheduling .am-1 {
  color: #633b48;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .pm {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.session-scheduling .pm-1 {
  color: var(--gravel-2);
  font-weight: 500;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .input-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 151px;
  justify-content: center;
  left: 986px;
  padding: 72px 0px 50px;
  position: absolute;
  top: 436px;
  width: 216px;
}

.session-scheduling .time-picker-inputs-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-top: -52.50px;
  position: relative;
}

.session-scheduling .period-selector-1 {
  align-items: flex-start;
  background-color: var(--prim);
  border: 1px solid;
  border-color: var(--boulder);
  border-radius: 8px;
  display: flex;
  height: 38px;
  margin-bottom: -52.50px;
  overflow: hidden;
  position: relative;
  width: 216px;
}

.session-scheduling .am-2 {
  align-items: flex-start;
  background-color: #ffd8e4;
  border-color: var(--boulder);
  border-right-style: solid;
  border-right-width: 1px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-top: -1.00px;
  position: relative;
}

.session-scheduling .am-3 {
  color: #633b48;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .pm-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.session-scheduling .pm-3 {
  color: var(--gravel-2);
  font-weight: 500;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.session-scheduling .logo {
  height: 67px;
  left: 107px;
  position: absolute;
  top: 16px;
  width: 65px;
}

.session-scheduling .friday-6 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .icon-button-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .label-2 {
  font-weight: 500;
  position: relative;
  text-align: center;
}

.session-scheduling .menu-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.session-scheduling .monday-6 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .saturday-6 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .sunday-6 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .thursday-6 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .tuesday-6 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.session-scheduling .wednesday-6 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}